{% extends "base.html" %} {% block title %}Tasks{% endblock title %} {% block
content %}
<section>
    <h2>All Tasks ({{ tasks | length }})</h2>

    <div class="list-container">
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <li>
                <strong>{{ task.name }} ({{ task.code }})</strong> - Due: {{
                task.due_date }}
                <div class="details">
                    Status: {% if task.status.Planned is defined %}Planned {%
                    elif task.status.Completed is defined %}Completed {% elif
                    task.status.InProgress is defined %}In Progress ({{
                    task.status.InProgress.progress }}%){% elif
                    task.status.Blocked is defined %}Blocked: {{
                    task.status.Blocked.reason }} {% elif task.status.Cancelled
                    is defined %}Cancelled {% else %}Unknown {% endif %}
                </div>
                {% if task.assigned_resources %}
                <div class="assignees">
                    Assignees: {{ task.assigned_resources | join(sep=", ") }}
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No tasks have been created yet.</p>
        {% endif %}
    </div>
</section>
{% endblock content %} {% block scripts %}
<style>
    .details,
    .assignees {
        font-size: 0.9em;
        color: #555;
        padding-left: 10px;
        margin-top: 5px;
    }
</style>
{% endblock scripts %}
